### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [34]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [35]:
#Stores total unique SN
total_players = purchase_data["SN"].value_counts()

#Creates df of unique SN
total_players_df = pd.DataFrame(total_players)

#Calculates total player count
total_players_count = len(total_players_df.index)

#Displays total player count in df
total_players_count_df = pd.DataFrame({"Total Players": [total_players_count]})
total_players_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
#Number of unique items
unique_items = purchase_data.loc[:, "Item ID"].value_counts()
unique_items_df = pd.DataFrame(unique_items)
unique_items_count = len(unique_items_df.index)

#Average purchase price
avg_price = purchase_data["Price"].mean()
avg_price_format = "${:,.2f}".format(avg_price)

#Total number of purchases
total_purchases = purchase_data["Purchase ID"].count()

#Total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue_format = "${:,.2f}".format(total_revenue)

#Creates summary df
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items_count], "Average Price": [avg_price_format],
                                      "Number of Purchases": [total_purchases], "Total Revenue": [total_revenue_format]})
#Displays summary df
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [37]:
#Drops duplicate SN values
purchase_data["Unique SN"] = purchase_data["SN"].drop_duplicates(keep="first")

#Creates df with unique SN and gender columns
player_gender_df = purchase_data[["Unique SN", "Gender"]]
player_gender_df = player_gender_df.dropna(how='any')
player_gender_df

#Total count of male players
male_count = (player_gender_df["Gender"] == "Male").sum()

#Total count of female players
female_count = (player_gender_df["Gender"] == "Female").sum()

#Total count of other/non-disclosed players
other_count = (player_gender_df["Gender"] == "Other / Non-Disclosed").sum()

#Percentage of male players
male_percentage = (male_count / total_players_count) * 100
male_percentage = "{:.2f}%".format(male_percentage)

#Percentage of female players
female_percentage = (female_count / total_players_count) * 100
female_percentage = "{:.2f}%".format(female_percentage)

#Percentage of other/non-disclosed players
other_percentage = (other_count / total_players_count) * 100
other_percentage = "{:.2f}%".format(other_percentage)

#Creates summary df
gender_demographics_df = pd.DataFrame({"Total Count": [male_count, female_count, other_count], 
                                      "Percentage of Players": [male_percentage, female_percentage, other_percentage]}, 
                                     index=["Male", "Female", "Other/Non-Disclosed"])
#Display summary df
gender_demographics_df

                     Total Count Percentage of Players
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [38]:
#Purchase count by males
male_purchase_count = (purchase_data["Gender"] == "Male").sum()

#Purchase count by females
female_purchase_count = (purchase_data["Gender"] == "Female").sum()

#Purchase count by other/non-disclosed
other_purchase_count = (purchase_data["Gender"] == "Other / Non-Disclosed").sum()

#Gender and price series grouped by gender
gender_price_df = purchase_data[["Gender", "Price"]]
gender_price_group = gender_price_df.groupby(["Gender"])

#Calculates average purchase price by gender
gender_price_group.mean().head()

#Calculates average purchase price by male
male_avg_price = gender_price_group.mean().iloc[1, 0]
male_avg_price = "${:,.2f}".format(male_avg_price)

#Calculates average purchase price by female
female_avg_price = gender_price_group.mean().iloc[0, 0]
female_avg_price = "${:,.2f}".format(female_avg_price)

#Calculates average purchase price by other/non-disclosed
other_avg_price = gender_price_group.mean().iloc[2, 0]
other_avg_price = "${:,.2f}".format(other_avg_price)

#Calculates total purchase price by male
total_purchase_male = gender_price_group.sum().iloc[1, 0]

#Calculates total purchase price by female
total_purchase_female = gender_price_group.sum().iloc[0, 0]

#Calculates total purchase price by other/non-disclosed
total_purchase_other = gender_price_group.sum().iloc[2, 0]

#Calculates avg total purchase by male
avg_total_male = total_purchase_male / male_count
avg_total_male = "${:,.2f}".format(avg_total_male)

#Calculates avg total purchase by female
avg_total_female = total_purchase_female / female_count
avg_total_female = "${:,.2f}".format(avg_total_female)

#Calculates avg total purchase by other/non-disclosed
avg_total_other = total_purchase_other / other_count
avg_total_other = "${:,.2f}".format(avg_total_other)

#Formats total purchase by gender
total_purchase_male = "${:,.2f}".format(total_purchase_male)
total_purchase_female = "${:,.2f}".format(total_purchase_female)
total_purchase_other = "${:,.2f}".format(total_purchase_other)

#Creates summary df
gender_purchase_analysis_df = pd.DataFrame({"Purchase Count": [male_purchase_count, female_purchase_count, other_purchase_count], 
                                           "Average Purchase Price": [male_avg_price, female_avg_price, other_avg_price], 
                                           "Total Purchase Value": [total_purchase_male, total_purchase_female, total_purchase_other], 
                                           "Avg Total Purchase per Person": [avg_total_male, avg_total_female, avg_total_other]}, 
                                           index=["Male", "Female", "Other/Non-Disclosed"])
#Displays summary df
gender_purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [92]:
#Establish bins for ages
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50]

#Categories for bins
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Creates new series called Age Group in purchase data df
pd.cut(purchase_data["Age"], bins, labels=age_group).head()
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=age_group)

#Creates new df based on Unique SN and Age Group series from purchase data
age_group_df = purchase_data[["Unique SN", "Age Group"]]
clean_age_group_df = age_group_df.dropna(how="any")

#Groups df by Age Group series and counts total players per age group
age_group_count_df = clean_age_group_df.groupby(["Age Group"]).count()

#Calculates percent total of players per age group
age_group_percent_df = age_group_count_df["Unique SN"].div(576).multiply(100)
age_group_percent_df = pd.DataFrame(age_group_percent_df)

#Merges age_group_count_df and age_group_percent_df for summary df
merge_df = pd.merge(age_group_count_df, age_group_percent_df, on="Age Group")

#Renames columns
merge_df = merge_df.rename(columns={"Unique SN_x": "Total Count", "Unique SN_y": "Percentage of Players"})

#Formats series to percentage
age_summary_df = merge_df.style.format({"Percentage of Players": "{:.2f}%".format})

#Displays summary df
age_summary_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame